#container {
    margin: 20% 20%;
}

#calculator {
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border-radius: 20%;
    border: 2px black;
}

.number {
    background-color: #22202a;
}

.number:hover {
    background-color: #403E48;
}

.operator {
    background-color: #ac3f41;
}

.operator:hover {
    background-color: #ca4749;
}

#clear {
    background-color: #ac3f41;
}

#clear:hover {
    background-color: #ca4749;
}

#equals {
    background-color: #ac3f41;
}

#equals:hover {
    background-color: #ca4749;
}

div.col-xs-4 {
    padding: 0;
}

div.col-xs-3 {
    padding: 0;
}

.input-box {
    background-color: #EEE;
    width: 100%;
}
.small-button {
    color: #ffffff;
    border: none;
    width: 99%;
    height: 98%;
    margin: .3%;
}

button:hover {
    border: none;
}

@media (max-width: 600px) {
    .small-button {
        margin: 0;
    }
}
